examples/use_cases/watches/n8n/get_employees_workflow.json
{
  "name": "LookC GetEmployees to SQLite",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "org_id",
              "value": "={{ $json.org_id || 'YOUR_ORG_ID_HERE' }}"
            },
            {
              "name": "api_key",
              "value": "={{ $env.LOOKC_API_TOKEN }}"
            },
            {
              "name": "base_url",
              "value": "https://api.lookc.io"
            },
            {
              "name": "db_path",
              "value": "/data/lookc_employees.db"
            },
            {
              "name": "after_cursor",
              "value": ""
            },
            {
              "name": "page_count",
              "value": "0"
            },
            {
              "name": "total_employees",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "db_path": "={{ $('Set Variables').item.json.db_path }}",
        "query_type": "CREATE",
        "query": "CREATE TABLE IF NOT EXISTS employees (\n  person_id TEXT NOT NULL,\n  org_id TEXT NOT NULL,\n  name TEXT,\n  title TEXT,\n  date_started TEXT,\n  date_ended TEXT,\n  location TEXT,\n  image TEXT,\n  current_org_id TEXT,\n  current_org_name TEXT,\n  links_linkedin TEXT,\n  links_sales_nav TEXT,\n  tenure_at_org_months REAL,\n  tenure_in_role_months REAL,\n  data TEXT,\n  collected_at TEXT,\n  UNIQUE (person_id, org_id)\n);\n\nCREATE TABLE IF NOT EXISTS employees_run_state (\n  org_id TEXT PRIMARY KEY,\n  last_collected_at TEXT,\n  is_complete INTEGER\n);",
        "args": "{}"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Create Schema",
      "type": "n8n-nodes-sqlite3.sqliteNode",
      "typeVersion": 1,
      "position": [650, 300],
      "notes": "Creates the database tables if they don't exist. Uses composite unique constraint (person_id, org_id) for employees."
    },
    {
      "parameters": {
        "db_path": "={{ $('Set Variables').item.json.db_path }}",
        "query_type": "SELECT",
        "query": "SELECT is_complete FROM employees_run_state WHERE org_id = $org_id LIMIT 1",
        "args": "={{ JSON.stringify({ '$org_id': $('Set Variables').item.json.org_id }) }}",
        "spread": true
      },
      "id": "d4e5f6a7-b8c9-0123-def1-234567890123",
      "name": "Check Run State",
      "type": "n8n-nodes-sqlite3.sqliteNode",
      "typeVersion": 1,
      "position": [850, 300],
      "notes": "Checks if this organization has already been processed. Spread is enabled to output 0 or 1 item."
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.is_complete }}",
              "operation": "equal",
              "value2": 1
            }
          ]
        }
      },
      "id": "e5f6a7b8-c9d0-1234-ef12-345678901234",
      "name": "Is Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Set Variables').first().json.base_url + '/org/' + $('Set Variables').first().json.org_id + '/employees' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "after",
              "value": "={{ $('Set Variables').first().json.after_cursor }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-f123-456789012345",
      "name": "Fetch Employees Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 500],
      "notes": "Fetches one page of employees from the LookC API. Credentials must be configured after import."
    },
    {
      "parameters": {
        "jsCode": "// Extract pagination info and employee data\nconst response = $input.item.json;\nconst employees = response.data || [];\nconst hasMore = response.pagination?.has_more || false;\nconst afterCursor = response.pagination?.after || '';\n\n// Get current counters from Set Variables node\nconst vars = $('Set Variables').first().json;\nconst pageCount = parseInt(vars.page_count) + 1;\nconst totalEmployees = parseInt(vars.total_employees) + employees.length;\n\nreturn {\n  employees: employees,\n  has_more: hasMore,\n  after_cursor: afterCursor,\n  page_count: pageCount,\n  total_employees: totalEmployees,\n  org_id: vars.org_id,\n  db_path: vars.db_path\n};"
      },
      "id": "a7b8c9d0-e1f2-3456-1234-567890123456",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "jsCode": "// Transform employee data for SQLite insertion\nconst response = $input.item.json;\nconst employees = response.employees || [];\nconst orgId = response.org_id;\nconst dbPath = response.db_path;\nconst collectedAt = new Date().toISOString();\n\n// Map each employee to SQLite insert format\nconst items = employees.map(emp => {\n  return {\n    db_path: dbPath,\n    person_id: emp.person_id || '',\n    org_id: orgId,\n    name: emp.name || '',\n    title: emp.title || '',\n    date_started: emp.date_started || '',\n    date_ended: emp.date_ended || '',\n    location: emp.location || '',\n    image: emp.image || '',\n    current_org_id: emp.current_org?.id || '',\n    current_org_name: emp.current_org?.name || '',\n    links_linkedin: emp.links?.linkedin || '',\n    links_sales_nav: emp.links?.sales_nav || '',\n    tenure_at_org_months: emp.tenure_at_org_months || 0,\n    tenure_in_role_months: emp.tenure_in_role_months || 0,\n    data: JSON.stringify(emp),\n    collected_at: collectedAt\n  };\n});\n\nreturn items;"
      },
      "id": "b8c9d0e1-f2a3-4567-2345-678901234567",
      "name": "Prepare for SQLite",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 500]
    },
    {
      "parameters": {
        "db_path": "={{ $json.db_path }}",
        "query_type": "INSERT",
        "query": "INSERT INTO employees (\n  person_id, org_id, name, title, date_started, date_ended, location, image,\n  current_org_id, current_org_name, links_linkedin, links_sales_nav,\n  tenure_at_org_months, tenure_in_role_months, data, collected_at\n) VALUES (\n  $person_id, $org_id, $name, $title, $date_started, $date_ended, $location, $image,\n  $current_org_id, $current_org_name, $links_linkedin, $links_sales_nav,\n  $tenure_at_org_months, $tenure_in_role_months, $data, $collected_at\n)\nON CONFLICT(person_id, org_id) DO UPDATE SET\n  name = excluded.name,\n  title = excluded.title,\n  date_started = excluded.date_started,\n  date_ended = excluded.date_ended,\n  location = excluded.location,\n  image = excluded.image,\n  current_org_id = excluded.current_org_id,\n  current_org_name = excluded.current_org_name,\n  links_linkedin = excluded.links_linkedin,\n  links_sales_nav = excluded.links_sales_nav,\n  tenure_at_org_months = excluded.tenure_at_org_months,\n  tenure_in_role_months = excluded.tenure_in_role_months,\n  data = excluded.data,\n  collected_at = excluded.collected_at",
        "args": "={{ JSON.stringify({\n  '$person_id': $json.person_id,\n  '$org_id': $json.org_id,\n  '$name': $json.name,\n  '$title': $json.title,\n  '$date_started': $json.date_started,\n  '$date_ended': $json.date_ended,\n  '$location': $json.location,\n  '$image': $json.image,\n  '$current_org_id': $json.current_org_id,\n  '$current_org_name': $json.current_org_name,\n  '$links_linkedin': $json.links_linkedin,\n  '$links_sales_nav': $json.links_sales_nav,\n  '$tenure_at_org_months': $json.tenure_at_org_months,\n  '$tenure_in_role_months': $json.tenure_in_role_months,\n  '$data': $json.data,\n  '$collected_at': $json.collected_at\n}) }}"
      },
      "id": "c9d0e1f2-a3b4-5678-3456-789012345678",
      "name": "Upsert Employee",
      "type": "n8n-nodes-sqlite3.sqliteNode",
      "typeVersion": 1,
      "position": [1650, 500],
      "notes": "Inserts or updates employee record using composite key (person_id, org_id)"
    },
    {
      "parameters": {
        "jsCode": "// Check if there are more pages to fetch\nconst processResponse = $('Process Response').first().json;\n\nreturn {\n  has_more: processResponse.has_more,\n  after_cursor: processResponse.after_cursor,\n  page_count: processResponse.page_count,\n  total_employees: processResponse.total_employees,\n  org_id: processResponse.org_id,\n  db_path: processResponse.db_path\n};"
      },
      "id": "d0e1f2a3-b4c5-6789-4567-890123456789",
      "name": "Check for More Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 500]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_more }}",
              "value2": true
            }
          ]
        }
      },
      "id": "e1f2a3b4-c5d6-7890-5678-901234567890",
      "name": "Has More Pages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2050, 500]
    },
    {
      "parameters": {
        "amount": 0.02,
        "unit": "seconds"
      },
      "id": "f2a3b4c5-d6e7-8901-6789-012345678901",
      "name": "Rate Limit Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2050, 700],
      "notes": "20ms delay = 50 req/s to match LookC API limit"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "org_id",
              "value": "={{ $json.org_id }}"
            },
            {
              "name": "api_key",
              "value": "={{ $env.LOOKC_API_TOKEN }}"
            },
            {
              "name": "base_url",
              "value": "https://api.lookc.io"
            },
            {
              "name": "db_path",
              "value": "={{ $json.db_path }}"
            },
            {
              "name": "after_cursor",
              "value": "={{ $json.after_cursor }}"
            },
            {
              "name": "page_count",
              "value": "={{ $json.page_count }}"
            },
            {
              "name": "total_employees",
              "value": "={{ $json.total_employees }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a3b4c5d6-e7f8-9012-7890-123456789012",
      "name": "Update Variables for Next Page",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1850, 700]
    },
    {
      "parameters": {
        "db_path": "={{ $json.db_path }}",
        "query_type": "INSERT",
        "query": "INSERT INTO employees_run_state (org_id, last_collected_at, is_complete)\nVALUES ($org_id, $last_collected_at, $is_complete)\nON CONFLICT(org_id) DO UPDATE SET\n  last_collected_at = excluded.last_collected_at,\n  is_complete = excluded.is_complete",
        "args": "={{ JSON.stringify({\n  '$org_id': $json.org_id,\n  '$last_collected_at': new Date().toISOString(),\n  '$is_complete': 1\n}) }}"
      },
      "id": "b4c5d6e7-f8a9-0123-8901-234567890123",
      "name": "Mark Complete",
      "type": "n8n-nodes-sqlite3.sqliteNode",
      "typeVersion": 1,
      "position": [2250, 500],
      "notes": "Marks the organization as complete in the run state table"
    },
    {
      "parameters": {
        "jsCode": "const checkResponse = $('Check for More Pages').first().json;\n\nreturn {\n  message: 'Successfully collected all employees',\n  org_id: checkResponse.org_id,\n  total_pages: checkResponse.page_count,\n  total_employees: checkResponse.total_employees,\n  db_path: checkResponse.db_path\n};"
      },
      "id": "c5d6e7f8-a9b0-1234-9012-345678901234",
      "name": "Success Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 500]
    },
    {
      "parameters": {
        "jsCode": "return {\n  message: 'Organization already processed',\n  org_id: $('Set Variables').first().json.org_id\n};"
      },
      "id": "d6e7f8a9-b0c1-2345-0123-456789012345",
      "name": "Already Complete Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Create Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Schema": {
      "main": [
        [
          {
            "node": "Check Run State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Run State": {
      "main": [
        [
          {
            "node": "Is Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complete?": {
      "main": [
        [
          {
            "node": "Already Complete Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Employees Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Employees Page": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Prepare for SQLite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for SQLite": {
      "main": [
        [
          {
            "node": "Upsert Employee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Employee": {
      "main": [
        [
          {
            "node": "Check for More Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for More Pages": {
      "main": [
        [
          {
            "node": "Has More Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has More Pages?": {
      "main": [
        [
          {
            "node": "Mark Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Variables for Next Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Variables for Next Page": {
      "main": [
        [
          {
            "node": "Rate Limit Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Wait": {
      "main": [
        [
          {
            "node": "Fetch Employees Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Complete": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-04T00:00:00.000Z",
  "versionId": "1"
}
